<div class="container">
  <div class="row gutters">
  
    <div class="col-lg-2">
      <a href="#"
        ><img class="img_menu" src="../../assets/img/logo.png" alt=""
      /></a>
    </div>
    <div class="col-lg-10 text-right">
     <div class="row" style="float:right;">
    <div class="col-4">
      <button mat-icon-button color="primary" class="btn-nav">
        <mat-icon aria-label="help_outline">help_outline</mat-icon>
        Ajuda
      </button>
       
        </div>
                
     <div class="col-8">
      <div class="rounded_btn"></div>
       <div ngbDropdown class="d-inline-block">
        <button class="btn-menu" id="dropdownBasic1" ngbDropdownToggle>
          <div class="circle-nav">
            <p class="col-6">Arthur Nogueira</p>
          </div>
        </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Profile</button>
            <button ngbDropdownItem>Configurações</button>
            </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
