/* Structure */
.container {
  display: flex;
  flex-direction: column;
}

/* Toolbar */
.spacer {
  flex: 1 1 auto;
}

/* Filter */
.form {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}
.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
}
table {
  width: 100%;
}
.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  flex: 0 0 6%;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2) {
  flex: 0 0 30%;
}

.mat-cell:nth-child(),
.mat-header-cell:nth-child() {
  flex: 2% 6%;
}
.no-gutters {
  margin: 0;
  padding: 0;
}
.form-control:focus {
  box-shadow: none !important;
  border: none !important;
}
.p-table {
  margin: 0;
}
.container-fluid {
  background-color: #f7edeb;
}
button:focus
 {
  outline: none !important;
}

