@import "~@angular/material/theming";
@import url("//fonts.googleapis.com/icon?family=Material+Icons");

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@include mat-core();

$primary: mat-palette($mat-indigo, 500);
$accent: mat-palette($mat-pink, 500, A200, A400);
$warn: mat-palette($mat-red, 500);

$config: mat-typography-config();

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
  font-family: mat-font-family($config);
  font-weight: normal;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  min-width: 450px;
}

.container > * {
  width: 100%;
}
button:focus,
.mat-icon-button:focus,
.mat-sort-header-button:focus {
  outline: none !important;
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  outline: none;
}